<div class="logo">
	<img title="ajc classroom" class="img-responsive" id="header-logo"
		src="http://188.165.51.107/web/css/themes/cool_blue/images/header-logo-custom1.png"
		alt="AJC FORMATION">
</div>
<body>

	<table class="en-tete">
		<tr>
			<td colspan="2">Nom :</td>
		</tr>
		<tr>
			<td colspan="2">Prenom :</td>
		</tr>
		<tr>
			<td colspan="2">Manager :</td>
		</tr>
		<tr>
			<td colspan="2">Service :</td>
		</tr>
	</table>


	<div class="title1-center">
		<p class="title1">Gestion des employés</p>
    <div class="container"></div>
		 <a  [routerLink]="['/employes']" routerLinkActive="active" class="btn btn-outline-light">Liste des employés</a>
     <button class="btn btn-outline-light">Liste des managers</button>
    </div>
    <router-outlet></router-outlet>
</body>

